# Datos de base de datos y archivos temporales de Docker
drupal-data/db_data/
drupal-data/sites/default/files/
drupal-data/core/
drupal-data/vendor/

# Archivos de Node
node_modules/
.env

# Archivos de control de sistema
.DS_Store
Thumbs.db